.tef-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 35px;
  max-width: 200px;
  background-image: none;
  background-color: #007486;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-button:hover,
.tef-button:focus {
  color: #fff;
  background-color: #077080;
  outline: none;
}
.tef-button:active,
.tef-button.active {
  color: #fff;
  background-color: #1a8292;
}
.tef-button [data-icon]:before {
  position: relative;
  font-size: 24px;
  line-height: 0;
  top: 3px;
}
.tef-button [data-icon] + span {
  margin-left: 7px;
}
.tef-button span + [data-icon] {
  margin-left: 7px;
}
.tef-button.small {
  font-size: 11px;
  line-height: 13px;
  padding: 7px;
}
.tef-button.small [data-icon]:before {
  font-size: 20px;
}
.tef-button.large {
  font-size: 24px;
  line-height: 26px;
  padding: 10px 15px;
}
.tef-button.large [data-icon]:before {
  font-size: 32px;
}
.tef-button.positive {
  background-color: #00c607;
}
.tef-button.positive:hover,
.tef-button.positive:focus {
  background-color: #07b90e;
}
.tef-button.positive:active {
  background-color: #1acc20;
}
.tef-button.negative {
  background-color: #ca3430;
}
.tef-button.negative:hover,
.tef-button.negative:focus {
  background-color: #bd3632;
}
.tef-button.negative:active {
  background-color: #cf4945;
}
.tef-button.subdued {
  background-color: #84959e;
}
.tef-button.subdued:hover,
.tef-button.subdued:focus {
  background-color: #7e8d95;
}
.tef-button.subdued:active {
  background-color: #91a0a8;
}
.tef-button.significant {
  background-color: #00c6d7;
}
.tef-button.significant:hover,
.tef-button.significant:focus {
  background-color: #07b9c8;
}
.tef-button.significant:active {
  background-color: #1accdb;
}
.tef-button[disabled],
.tef-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.tef-button + .tef-button {
  margin-left: 7px;
}
