.tef-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 35px;
  max-width: 200px;
  background-image: none;
  background-color: #2280a6;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-button:hover,
.tef-button:focus {
  color: #fff;
  background-color: #267a9c;
  outline: none;
}
.tef-button:active,
.tef-button.active {
  color: #fff;
  background-color: #398daf;
}
.tef-button [data-icon]:before {
  position: relative;
  font-size: 24px;
  line-height: 0;
  top: 5px;
}
.tef-button [data-icon] + span {
  margin-left: 7px;
}
.tef-button span + [data-icon] {
  margin-left: 7px;
}
.tef-button.small {
  font-size: 11px;
  line-height: 13px;
  padding: 7px;
}
.tef-button.small [data-icon]:before {
  font-size: 20px;
}
.tef-button.large {
  font-size: 24px;
  line-height: 26px;
  padding: 10px 15px;
}
.tef-button.large [data-icon]:before {
  font-size: 32px;
}
.tef-button.positive {
  background-color: #01b7b4;
}
.tef-button.positive:hover,
.tef-button.positive:focus {
  background-color: #08aca9;
}
.tef-button.positive:active {
  background-color: #1bbebc;
}
.tef-button.negative {
  background-color: #990000;
}
.tef-button.negative:hover,
.tef-button.negative:focus {
  background-color: #910707;
}
.tef-button.negative:active {
  background-color: #a31a1a;
}
.tef-button.subdued {
  background-color: #686868;
}
.tef-button.subdued:hover,
.tef-button.subdued:focus {
  background-color: #656565;
}
.tef-button.subdued:active {
  background-color: #777777;
}
.tef-button.significant {
  background-color: #686868;
}
.tef-button.significant:hover,
.tef-button.significant:focus {
  background-color: #656565;
}
.tef-button.significant:active {
  background-color: #777777;
}
.tef-button[disabled],
.tef-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.tef-button + .tef-button {
  margin-left: 7px;
}
