.button-container-small {
    background-color: rgba(72, 72, 72, 0.0);
    border-radius: 3px;
    clear: both;
    float: left;
    padding: 13px 0 13px 0;
    position: relative;
}

.button-container-medium {
    background-color: rgba(72, 72, 72, 0.0);
    border-radius: 3px;
    clear: both;
    float: left;
    padding: 13px 0 13px 0;
    position: relative;
}

.button-container-large {
    background-color: rgba(72, 72, 72, 0.0);
    border-radius: 3px;
    clear: both;
    float: left;
    padding: 13px 0 13px 0;
    position: relative;
}

.button {
    background-color: white;
    border: #999999 1px solid;
    border-radius: 3px;
    height: 36px;
    padding: 5px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.button:hover:enabled {
    background-color: rgba(0, 0, 0, 0.9);
    cursor: hand;
}

.size-button {
    outline: none;
}
.button.small {
    font-size: 11px;
    height: 27px;
    width: 93px;
}

.button.medium {
    font-size: 14px;
    height: 36px;
    width: 185px;
}

.button.large {
    font-size: 24px;
    height: 45px;
    width: 219px;
}

.button.loading {
    position: relative;
}

.icon-paper {
    width: 18px;
    height: 21px;
    background-image: url('../img/paper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}

.icon-copy {
    width: 14px;
    height: 18px;
    background-image: url('../img/copy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}

.icon-order {
    width: 15px;
    height: 16px;
    background-image: url('../img/order.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}

.icon-left {
    width: 19px;
    height: 16px;
    background-image: url('../img/left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}

.image {
    position: absolute;
    top: 21%;
    left: 44%;
    width: 22px;
    height: 22px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

