:host button::-moz-focus-inner {
  border: none;
  outline: none;
}
:host .tef-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 35px;
  max-width: 200px;
  background-image: none;
  background-color: {{g.color}};
  color: {{g.text}};
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
  border: 1px solid {{g.border}};
  border-radius: 4px;
  padding: 7px 8px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  touch-action: manipulation;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
:host .tef-button:hover,
:host .tef-button:focus {
  color: {{g.textHover}};
  background-color: {{g.colorHover}};
  border-color: {{g.borderHover}};
  outline: none;
}
:host .tef-button:active,
:host .tef-button.active {
  color: {{g.textActive}};
  background-color: {{g.colorActive}};
  border-color: {{g.borderActive}};
}
:host .tef-button [data-icon]:before,
:host .tef-button ::content [data-icon]:before {
  position: relative;
  font-size: 24px;
  line-height: 0;
  top: 3px;
}
:host .tef-button [data-icon] + span,
:host .tef-button ::content [data-icon] + span,
:host .tef-button span + [data-icon],
:host .tef-button ::content span + [data-icon] {
  margin-left: 6px;
}
:host .tef-button span,
:host .tef-button ::content span {
  font-size: 15px;
}
:host .tef-button.small {
  font-size: 11px;
  padding: 7px;
}
:host .tef-button.small [data-icon]:before,
:host .tef-button.small ::content [data-icon]:before {
  font-size: 20px;
}
:host .tef-button.small span,
:host .tef-button.small ::content span {
  font-size: 11px;
}
:host .tef-button.large {
  font-size: 24px;
  padding: 7px 14px;
}
:host .tef-button.large [data-icon]:before,
:host .tef-button.large ::content [data-icon]:before {
  font-size: 32px;
}
:host .tef-button.large span,
:host .tef-button.large ::content span {
  font-size: 24px;
}
:host .tef-button .colors-loop.neutral {
  background-color: {{g.neutral}};
  color: {{g.neutralText}};
  border-color: {{g.neutralBorder}};
}
:host .tef-button .colors-loop.neutral:hover,
:host .tef-button .colors-loop.neutral:focus {
  background-color: {{g.neutralHover}};
  color: {{g.neutralTextHover}};
  border-color: {{g.neutralBorderHover}};
}
:host .tef-button .colors-loop.neutral:active,
:host .tef-button .colors-loop.neutral.active {
  background-color: {{g.neutralActive}};
  color: {{g.neutralTextActive}};
  border-color: {{g.neutralBorderActive}};
}
:host .tef-button .colors-loop.significant {
  background-color: {{g.significant}};
  color: {{g.significantText}};
  border-color: {{g.significantBorder}};
}
:host .tef-button .colors-loop.significant:hover,
:host .tef-button .colors-loop.significant:focus {
  background-color: {{g.significantHover}};
  color: {{g.significantTextHover}};
  border-color: {{g.significantBorderHover}};
}
:host .tef-button .colors-loop.significant:active,
:host .tef-button .colors-loop.significant.active {
  background-color: {{g.significantActive}};
  color: {{g.significantTextActive}};
  border-color: {{g.significantBorderActive}};
}
:host .tef-button .colors-loop.subdued {
  background-color: {{g.subdued}};
  color: {{g.subduedText}};
  border-color: {{g.subduedBorder}};
}
:host .tef-button .colors-loop.subdued:hover,
:host .tef-button .colors-loop.subdued:focus {
  background-color: {{g.subduedHover}};
  color: {{g.subduedTextHover}};
  border-color: {{g.subduedBorderHover}};
}
:host .tef-button .colors-loop.subdued:active,
:host .tef-button .colors-loop.subdued.active {
  background-color: {{g.subduedActive}};
  color: {{g.subduedTextActive}};
  border-color: {{g.subduedBorderActive}};
}
:host .tef-button .colors-loop.negative {
  background-color: {{g.negative}};
  color: {{g.negativeText}};
  border-color: {{g.negativeBorder}};
}
:host .tef-button .colors-loop.negative:hover,
:host .tef-button .colors-loop.negative:focus {
  background-color: {{g.negativeHover}};
  color: {{g.negativeTextHover}};
  border-color: {{g.negativeBorderHover}};
}
:host .tef-button .colors-loop.negative:active,
:host .tef-button .colors-loop.negative.active {
  background-color: {{g.negativeActive}};
  color: {{g.negativeTextActive}};
  border-color: {{g.negativeBorderActive}};
}
:host .tef-button .colors-loop.positive {
  background-color: {{g.positive}};
  color: {{g.positiveText}};
  border-color: {{g.positiveBorder}};
}
:host .tef-button .colors-loop.positive:hover,
:host .tef-button .colors-loop.positive:focus {
  background-color: {{g.positiveHover}};
  color: {{g.positiveTextHover}};
  border-color: {{g.positiveBorderHover}};
}
:host .tef-button .colors-loop.positive:active,
:host .tef-button .colors-loop.positive.active {
  background-color: {{g.positiveActive}};
  color: {{g.positiveTextActive}};
  border-color: {{g.positiveBorderActive}};
}
:host .tef-button.neutral {
  background-color: {{g.neutral}};
  color: {{g.neutralText}};
  border-color: {{g.neutralBorder}};
}
:host .tef-button.neutral:hover,
:host .tef-button.neutral:focus {
  background-color: {{g.neutralHover}};
  color: {{g.neutralTextHover}};
  border-color: {{g.neutralBorderHover}};
}
:host .tef-button.neutral:active,
:host .tef-button.neutral.active {
  background-color: {{g.neutralActive}};
  color: {{g.neutralTextActive}};
  border-color: {{g.neutralBorderActive}};
}
:host .tef-button.significant {
  background-color: {{g.significant}};
  color: {{g.significantText}};
  border-color: {{g.significantBorder}};
}
:host .tef-button.significant:hover,
:host .tef-button.significant:focus {
  background-color: {{g.significantHover}};
  color: {{g.significantTextHover}};
  border-color: {{g.significantBorderHover}};
}
:host .tef-button.significant:active,
:host .tef-button.significant.active {
  background-color: {{g.significantActive}};
  color: {{g.significantTextActive}};
  border-color: {{g.significantBorderActive}};
}
:host .tef-button.subdued {
  background-color: {{g.subdued}};
  color: {{g.subduedText}};
  border-color: {{g.subduedBorder}};
}
:host .tef-button.subdued:hover,
:host .tef-button.subdued:focus {
  background-color: {{g.subduedHover}};
  color: {{g.subduedTextHover}};
  border-color: {{g.subduedBorderHover}};
}
:host .tef-button.subdued:active,
:host .tef-button.subdued.active {
  background-color: {{g.subduedActive}};
  color: {{g.subduedTextActive}};
  border-color: {{g.subduedBorderActive}};
}
:host .tef-button.negative {
  background-color: {{g.negative}};
  color: {{g.negativeText}};
  border-color: {{g.negativeBorder}};
}
:host .tef-button.negative:hover,
:host .tef-button.negative:focus {
  background-color: {{g.negativeHover}};
  color: {{g.negativeTextHover}};
  border-color: {{g.negativeBorderHover}};
}
:host .tef-button.negative:active,
:host .tef-button.negative.active {
  background-color: {{g.negativeActive}};
  color: {{g.negativeTextActive}};
  border-color: {{g.negativeBorderActive}};
}
:host .tef-button.positive {
  background-color: {{g.positive}};
  color: {{g.positiveText}};
  border-color: {{g.positiveBorder}};
}
:host .tef-button.positive:hover,
:host .tef-button.positive:focus {
  background-color: {{g.positiveHover}};
  color: {{g.positiveTextHover}};
  border-color: {{g.positiveBorderHover}};
}
:host .tef-button.positive:active,
:host .tef-button.positive.active {
  background-color: {{g.positiveActive}};
  color: {{g.positiveTextActive}};
  border-color: {{g.positiveBorderActive}};
}
:host .tef-button[disabled],
:host .tef-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}
