.movistar.button {
    font-family: "Arial", sans-serif;
}

.movistar.btt-neutral {
    color: white;
    cursor: pointer;
    background: #326f88;
    border: none;
}

.movistar.btt-neutral:hover:enabled {
    color: white;
    cursor: pointer;
    background: #326a81;
    border: none;
}

.movistar.btt-neutral:active:enabled {
    background: #3c7e93;
    outline: none !important;
}

.movistar.btt-neutral[disabled=disabled], .movistar.btt-neutral:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.movistar.btt-positive {
    color: white;
    cursor: pointer;
    background: #83ad3e;
    border: none;
}

.movistar.btt-positive:hover:enabled {
    color: white;
    cursor: pointer;
    background: #6bab54;
    border: none;
}

.movistar.btt-positive:active:enabled {
    background: #8bb555;
    outline: none !important;
}

.movistar.btt-positive[disabled=disabled], .movistar.btt-positive:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40;
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.movistar.btt-negative {
    color: white;
    cursor: pointer;
    background: #da0b0c;
    border: none;
}

.movistar.btt-negative:hover:enabled {
    color: white;
    cursor: pointer;
    background: #c71a19;
    border: none;
}

.movistar.btt-negative:active:enabled {
    background: #d53533;
    outline: none !important;
}

.movistar.btt-negative[disabled=disabled], .movistar.btt-negative:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.movistar.btt-subdued {
    color: white;
    cursor: pointer;
    background: #89898a;
    border: none;
}

.movistar.btt-subdued:hover:enabled {
    color: white;
    cursor: pointer;
    background: #878787;
    border: none;
}

.movistar.btt-subdued:active:enabled {
    background: #939393;
    outline: none !important;
}

.movistar.btt-subdued-movistar[ disabled=disabled ], .btt-subdued:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}