//
// TEF components - buttons
//

@import "mixins.less";

// Reset
button::-moz-focus-inner {
  border: none;
  outline: none;
}

.tef-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 35px;
  max-width: 200px;
  background-image: none;
  background-color: @color;
  color: @text;
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
  border: 1px solid @border;
  border-radius: 4px;
  padding: 7px 8px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  touch-action: manipulation;
  box-sizing: border-box;
  .truncate();

  // states
  &:hover,
  &:focus {
    color: @textHover;
    background-color: @colorHover;
    border-color: @borderHover;
    outline: none;
  }

  &:active,
  &.active {
    color: @textActive;
    background-color: @colorActive;
    border-color: @borderActive;
  }

  // icons
  &, ::content {
    [data-icon]:before {
      position: relative;
      font-size: 23px;
      line-height: 0;
      top: 4px;
    }

    [data-icon] + span,
    span + [data-icon] { margin-left: 5px; }
    span { font-size: 15px; }
  }

  // sizes
  &.small {
    font-size: 11px;
    padding: 7px;

    &, ::content {
      [data-icon]:before {
        font-size: 18px;
        top: 3px;
      }
      span { font-size: 11px; }
    }
  }

  &.large {
    font-size: 24px;
    padding: 7px 14px;

    &, ::content {
      [data-icon]:before {
        font-size: 32px;
        top: 5px;
      }
      span { font-size: 24px; }
    }
  }

  // colors loop
  @colors: "positive", "negative", "subdued", "significant", "neutral";

  .colors-loop {
    .-(@i: length(@colors)) when (@i > 0) {
      @name: e(extract(@colors, @i));
      @nameText: e("@{name}Text");
      @nameBorder: e("@{name}Border");
      @nameHover: e("@{name}Hover");
      @nameTextHover: e("@{name}TextHover");
      @nameBorderHover: e("@{name}BorderHover");
      @nameActive: e("@{name}Active");
      @nameTextActive: e("@{name}TextActive");
      @nameBorderActive: e("@{name}BorderActive");

      &.@{name} {
        background-color: @@name;
        color: @@nameText;
        border-color: @@nameBorder;

        &:hover,
        &:focus {
          background-color: @@nameHover;
          color: @@nameTextHover;
          border-color: @@nameBorderHover;
        }

        &:active,
        &.active {
          background-color: @@nameActive;
          color: @@nameTextActive;
          border-color: @@nameBorderActive;
        }
      }
      .-((@i - 1));
    } .-;
  }

  .colors-loop();

  // disabled
  &[disabled],
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

